@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #5846f9;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 18px;
}

/* nav start */
nav .navbar-brand image {
  color: #fff;
}
nav {
  background: #2676a7;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.671);
}

/* nav end */


.main h2 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  color: antiquewhite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.main p {
  margin-top: 1rem;
  padding: 0;
  font-size: 26px;
  color: bisque;
  padding: 2rem;
}
@media (max-width: 768px) {
  .main {
    padding: 200px 0;
  }
  .main h2 {
    font-size: 3em;
  }
  .main p {
    font-size: 15px;
    padding: 30px;
  }
}

/* ABOUT START */

.about {
  padding: 50px 0;
}

.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: #2c4964;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5846f9;
}

.about .content p:last-child {
  margin-bottom: 0;
}



/* ABOUT END */



/* mission and vision start */
.missionpoint i {
  font-size: 22px;
  color: blue;
  font-weight: 900;
  text-align: justify;
}
/* mission and vision end */

/*  message start */
.hodmsg {
  text-align: justify;
}

/* msg end */

/* staff section start*/

.teamhed {
  position: relative;
  padding-top: 20px;
  text-align: center;
  
  margin: 10px 0;
}
.teamhed::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: -10px;
  left: 50px;
  transform: translateX(-50);
  background-image: linear-gradient(to left transperent 5%, red);
}
.teamrow {
  padding: 40px 0;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.teammbr {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 20px 10px;
  margin: 20px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10x;
  color: black;
}
.teammbr:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translateY(10px);
}
.tmimg{
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  border: 2px solid #00000000;
}
.teammbr h2 {
  text-transform: uppercase;
  margin: 15px 0;
  font-size: 24px;
  color: #2676a7;
}

/* staff section end */
  
/* footer start */
footer {
  color: #fff;
  padding: 20px;
  background: #2676a7;
}
footer .fcontent {
  padding: 3rem;
}
footer .social {
  color: #fff;
  padding: 0.6rem;
  /* background: #007dff; */
  border-radius: 40%;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  opacity: 0.8;
}
footer .social:hover {
  opacity: 1;
  color: #fff;
}
footer .social i {
  opacity: 0.9;
  align-items: center;
}
footer .social i:hover {
  opacity: 1;
}
footer .copy a {
  color: #fff;
  opacity: 0.5;
}
#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
#fb {
  background: blue;
}
#youtube {
  background: #c4302b;
}
#mail {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
}
footer .copy a:hover {
  opacity: 1;
  text-decoration: none;
}
footer .footer2 p {
  text-transform: capitalize;
  padding-bottom: 5px;
}
footer .footer-copyright {
  background: rgba(0, 0, 0, 0.198);
}

/* footer end */
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}
.top-link img {
  width: 60px;
  height: 60px;
  position: fixed;
  transition: all 0.25s ease-in-out;
  /* background: #087afc; */
  border-radius: 30px;
  padding: 15px;
  padding-top: 16px;
  scroll-behavior: smooth;
  transform: 2s;
  opacity: 0.8;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  box-shadow: -1px 10px 40px -12px rgba(0, 0, 0, 0.849);
}
.top-link img:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .top-link {
    width: 40px;
    height: 40px;
  }
  .top-link img {
    width: 40px;
    height: 40px;
  }
  .main p {
    font-size: 15px;
    padding: 30px;
  }
}
/* footer .bootmlogo{
  width: 50px;
} */
